@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap");

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.myFont {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}

.glassmorphism {
  @apply rounded-xl border  bg-myBlack/25 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: calibri;
}

swiper-container {
  display: flex;
  justify-content: center;
}

swiper-slide {
  width: 100%;
  height: 100%;
}

